<% provide(:title, 'Word Clouds') %>

<h1>Word Clouds</h1>

<%= form_for(@text) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content, size: '50x10' %>

  <%= f.submit 'Submit text' %>
<% end %>

<ul>
  <% @texts.each do |record| %>
    <li><%= record.content %></li>
  <% end %>
</ul>

<div id="word-cloud" style="width: 1000px; height: 600px;"></div>
