<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", "jqcloud", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "jquery", "jqcloud-1.0.4", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
